<%= render :partial => "clients/shared/c_dashboard" %>
<div class="c-view-content">
    <%= render :partial => "clients/shared/c_view_header" %>
    <div class="c-view-main">
        <%= render :partial => "notes/shared/note_card" %>
    </div>
</div>
