<%= render :partial => "clients/shared/c_dashboard.html" %>
<div class="c-view-content">
<%= render :partial => "clients/shared/c_view_header.html" %>
<div class="c-view-main">
  <div class="button-box">
    <input id="view-previous-entries-btn" type="submit" class="button" value="View Past Entries"/>
    <input id="add-new-entry-btn" type="submit" class="button" value="Add A New Entry"/>
  </div>
  <%= render :partial => "entries/shared/add_entry.html" %>
  <%= render :partial => "entries/shared/previous_entries.html" %>

</div>
</div>
