  <main>

    <div class="c-activity">
      <div class="filter_title">
        <a href="#" class="filter_events">Events</a>
        <a href="#" class="filter_entries active">Entries</a>
        <a href="#" class="filter_mood">Mood</a>
        <a href="#" class="filter_all">All</a>
      </div>
      <%= render :partial => "partials/activity" %>
    </div>
  </main>
