<div class="header-container">
  <header>
      <div class="site-logo">
        <i class="material-icons">perm_media</i>
      </div>
      <div class="user-welcome">
        <p>Welcome, FIRSTNAME LASTNAME</p>
      </div>
      <div class="menu-icon">
          <i class="material-icons">menu</i>
      </div>
  </header>
</div>

<div class="nav-container">
  <nav class="therapist">
      <div>Home</div>
      <div>Account</div>
      <div>Logout</div>
  </nav>
</div>

  <main>
    <div class="c-activity">
      <div class="sort">
        <a href="#" class="filter_events">Events</a>
        <a href="#" class="filter_entries active">Entries</a>
        <a href="#" class="filter_mood">Mood Surveys</a>
        <a href="#" class="filter_all">All</a>
      </div>
      <div class="patient_card">
          <i class="material-icons show">error</i>
      </div>
