<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
<%= render :partial => "therapists/shared/t_view_header" %>
<div class="t-view-main profile">
  <section class="c-profile profile">

    <%= render :partial => "therapists/shared/c_profile" %>
  </section>

</div>
</div>
