<%= render :partial => "partials/t-dashboard" %>
<div class="t-view-content">
<%= render :partial => "partials/t-view-header" %>
<div class="t-view-main">

  <section class="c-profile">

    <%= render :partial => "partials/c_profile" %>
  </section>

</div>
</div>
