<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
    <%= render :partial => "therapists/shared/t_view_header" %>
    <div class="t-view-main">

        <div class="modal">
            <div class="modal-content">
               <div class="modal-background"></div>

               <div class="event-detail-card">
                    <div class="event-title-row">
                        <span class="event-title-label">
                            <i class="fa fa-star-o"></i>
                        </span>
                        <h3 id="event-date">EVENT DATE</h3>
                        <div class="x-btn">
                            <p>&#10005;</p>
                        </div>
                    </div>
                    <div class="event-type-sub-header">
                      <h3 id="event-type">EVENT TYPE</h3>
                    </div>
                    <div class="event-description-content">
                        <p id="event-description">Event Description</p>
                        <div class="event-footer"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="legend">
          <ul>
            <li class="positive"><div class="color-key"></div><h3>POSITIVE</h3></li>
            <li class="negative"><div class="color-key"></div><h3>NEGATIVE</h3></li>
            <li class="neutral"><div class="color-key"></div><h3>NEUTRAL</h3></li>
          </ul>
        </div>
        <div id='calendar'></div>

    </div>
</div>
