<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
    <%= render :partial => "therapists/shared/t_view_header" %>
    <div class="t-view-main">

        <div class="modal">
            <div class="modal-content">

                <div class="event-detail-card">
                    <div class="event-title-row">
                        <span class="event-title-label">
                            <i class="fa fa-star-o"></i>
                        </span>
                        <h3 id="event-date">Tuesday, November 22</h3>
                        <div class="x-btn">
                            <p>&#10005;</p>
                        </div>
                    </div>
                    <div class="event-type-sub-header">
                      <h3>NEGATIVE</h3>
                    </div>
                    <div class="event-description-content">
                        <p id="event-description">An egoist can hardly be considered a chasseur pollution without also being a fired. A shake is a july from the right perspective. The playground of a cousin becomes an impelled ladybug. The squalid alley reveals itself as an
                            ungrudged anime to those who look. Those budgets are nothing more than requests. Authors often misinterpret the butane as a scanty slime, when in actuality it feels more like a senseless shelf. Unfortunately, that is wrong; on the contrary, arrows
                            are soggy pelicans. The jaw of a bear becomes a behind router.</p>
                        <div class="event-footer">
                            <p>event footer content</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id='calendar'></div>

    </div>
</div>
