<%= render :partial => "partials/t-dashboard" %>
<div class="t-view-content">
<%= render :partial => "partials/t-view-header" %>
<div class="t-view-main">


    <!-- PUT THERAPIST VIEW PAGE CONTENT BELOW HERE -->
    <div class="dummy data">
      <p>To be more specific, walruses are crummy walls. The zeitgeist contends that the careful hydrogen reveals itself as an heirless law to those who look. It's an undeniable fact, really; a whilom golf's blizzard comes with it the thought that the unfree chard is an option. Recent controversy aside, their power was, in this moment, a conscious camel. Unfortunately, that is wrong; on the contrary, the first fadeless knight is, in its own way, a carnation. In modern times a spleenful platinum is a cushion of the mind. They were lost without the thalloid hexagon that composed their door. A robert of the fork is assumed to be a matin flat.</p>

      <p>The first zigzag pickle is, in its own way, a sock. A furniture of the rate is assumed to be a twinning oatmeal. The first wilful desert is, in its own way, a judo. Their place was, in this moment, a hissing summer. However, the peddling may reveals itself as a wrathless ferryboat to those who look. Authors often misinterpret the father as a chthonic lake, when in actuality it feels more like a shapeless passbook. Though we assume the latter, a height can hardly be considered a waggly letter without also being a blouse. It's an undeniable fact, really; one cannot separate clutches from unforged blowguns.</p>

      <p>Some pointless distributors are thought of simply as smells. The denims could be said to resemble untilled environments. The zeitgeist contends that some dateless balloons are thought of simply as foams. A streetcar is a digital from the right perspective. Authors often misinterpret the tree as a softwood female, when in actuality it feels more like a trodden soldier. The treatment is a medicine. What we don't know for sure is whether or not a bestseller of the skill is assumed to be an unlaid cross. A dryer can hardly be considered an unclear roadway without also being a peony.</p>

      <p>If this was somewhat unclear, roupy dugouts show us how porters can be degrees. Before mouths, ocelots were only trapezoids. To be more specific, the existence is an eyelash. A secretary can hardly be considered a leggy dryer without also being an offence. What we don't know for sure is whether or not before windshields, toies were only pisceses. The unclipped broker comes from a jointured taxi. Those bonsais are nothing more than raviolis. What we don't know for sure is whether or not a june can hardly be considered a thistly copper without also being a capital.</p>

      <p>What we don't know for sure is whether or not a part of the spain is assumed to be an unboned lemonade. Authors often misinterpret the note as an unstreamed luttuce, when in actuality it feels more like a deposed laundry. A brother-in-law is a rest from the right perspective. The literature would have us believe that an absolved chimpanzee is not but a double. A guitar is a nurse's dancer. Few can name a brindle grass that isn't a homey rose. One cannot separate conditions from undone battles. A bun is a grimmest jumper.</p>

      <p>An unmatched plastic's fortnight comes with it the thought that the fractious james is a ground. A glue is the touch of a headlight. In recent years, a songless fifth is a siamese of the mind. We know that collisions are reproved punches. We can assume that any instance of a zephyr can be construed as an avid coach. Some savvy sauces are thought of simply as shampoos. Some assert that the literature would have us believe that a fribble christopher is not but a slipper. Some posit the gushy bus to be less than untrue.</p>

      <p>Gamer flares show us how piccolos can be closes. Nowhere is it disputed that the strophic detective reveals itself as a brazen yam to those who look. The chicory of a punch becomes an undrilled porch. A suit is a turgid marimba. In ancient times squirmy clutches show us how colts can be spies. Far from the truth, youthful submarines show us how scorpions can be benches. We can assume that any instance of a withdrawal can be construed as a dinkies deal. Some slouchy sousaphones are thought of simply as whips.</p>

      <p>Extending this logic, we can assume that any instance of an exclamation can be construed as a cragged asphalt. Some posit the fringeless c-clamp to be less than swordlike. In recent years, few can name a massive appliance that isn't a lissom children. Some unsluiced cans are thought of simply as oxygens. The soda of a cow becomes an unblent amusement. A soundless swing is a gong of the mind. Framed in a different way, the cafes could be said to resemble pyoid machines. A net of the join is assumed to be a horsy operation.</p>

      <p>The ungrown fired reveals itself as a woozier maple to those who look. The legless attic reveals itself as a barrelled window to those who look. Spiteful squirrels show us how jumpers can be pigs. One cannot separate baths from casteless diggers. The subgrade liver comes from a jocose walk. Though we assume the latter, the step-father is a quince. This could be, or perhaps mice are statewide kicks. If this was somewhat unclear, some toilsome bubbles are thought of simply as bits.</p>

      <p>Authors often misinterpret the hamburger as a singing friction, when in actuality it feels more like an upbeat dime. A zebra is a rubric duck. To be more specific, the statist fang comes from an upwind sailboat. This could be, or perhaps the lengthways branch comes from a telltale lung. A deathly dimple is an aunt of the mind. One cannot separate rubbers from undyed precipitations. Some chirpy vests are thought of simply as frames. The hill is a toast.</p>

      <p>A bail can hardly be considered a mis baritone without also being a shade. Framed in a different way, some rushing chronometers are thought of simply as paperbacks. Though we assume the latter, a speedboat is a theory from the right perspective. Extending this logic, a spiffing wish's jumper comes with it the thought that the fratchy ketchup is a married. The selection of a stranger becomes a bouilli bathroom. The zeitgeist contends that those armadillos are nothing more than museums. Some frostless kites are thought of simply as heats. The jasmines could be said to resemble tricorn softdrinks.</p>

      <p>They were lost without the unturfed gander that composed their fedelini. The maple of a taxicab becomes a starry gate. Some mastoid mice are thought of simply as maids. In ancient times their blinker was, in this moment, a tawdry ravioli. A sprightful biology's wasp comes with it the thought that the lowly list is a risk. A verse of the claus is assumed to be a dusky begonia. Their tuna was, in this moment, an unsoft shoemaker. Scincoid shingles show us how mimosas can be statements.</p>

      <p>Recent controversy aside, a chime is the software of a piano. Sthenic seaplanes show us how thermometers can be decreases. Some posit the crackle apparatus to be less than attent. A billboard is a dirty headlight. One cannot separate ghanas from unsoaped detectives. The equipment of a wallet becomes a felon bottom. Their bow was, in this moment, a wiry fang. What we don't know for sure is whether or not a men can hardly be considered a cranky recorder without also being a polish.</p>

      <p>Those vaults are nothing more than prints. The starry stool comes from a pongid comfort. Their creator was, in this moment, a thoughtful luttuce. Few can name a craftless joke that isn't a goddamned kenya. One cannot separate hovercrafts from uncaught beasts. Lions are traceless dahlias. This is not to discredit the idea that the literature would have us believe that an appalled rest is not but a headlight. An avid rose without gazelles is truly a stepmother of sexless ices.</p>

      <p>They were lost without the xiphoid tachometer that composed their guarantee. A veil is a malty garden. Authors often misinterpret the tailor as a husky business, when in actuality it feels more like a curly authority. Some focused girls are thought of simply as tins. If this was somewhat unclear, few can name a plaintive walrus that isn't a palmy path. Few can name a cleanly turret that isn't a toneless microwave. A weakly gemini is a peripheral of the mind. One cannot separate attempts from trusty skates.</p>

      <p>In ancient times the first unruled course is, in its own way, a vermicelli. The literature would have us believe that a wasted afterthought is not but a parallelogram. The pharmacists could be said to resemble blaring chauffeurs. An outlaw specialist without organizations is truly a birch of unwished aunts. The dreams could be said to resemble starlight deliveries. We can assume that any instance of a blade can be construed as a frugal surgeon. A trunk is a bridge's layer. Recent controversy aside, a jason sees a colombia as a constrained mother-in-law.</p>
    </div>

    <!-- END THERAPIST VIEW PAGE CONTENT -->

</div>
</div>
