<%= render :partial => "partials/t-dashboard" %>

<div class="t-view-content">
<%= render :partial => "partials/events" %>

<div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div>
<div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div><div class="patient_card">
    <p class="id_number">21</p>
    <p class="pt_name">test name</p>
    <i class="material-icons show">error</i>
</div>



</div>
