<%= render :partial => "partials/t-dashboard" %>
<div class="t-view-content">
<%= render :partial => "partials/t-view-header" %>
<div class="t-view-main">


    <!-- PUT THERAPIST VIEW PAGE CONTENT BELOW HERE -->


    <div id='calendar'></div>


    <!-- END THERAPIST VIEW PAGE CONTENT -->

</div>
</div>
