

  <main>
    <div class="t-index">
      <div class="sort">
        <%= link_to "Sort by Wellness", "/therapist/#{@therapist.id}?sort_by=wellness", class:"actives", id:"wellness" %>
        <%= link_to "Sort by Name", "/therapist/#{@therapist.id}?sort_by=last_name" ,id:"name"%>
      </div>
      <%= render :partial => "therapists/shared/patient_card" %>

  </div>
  </main>
