

        <main>
          <div class="t-index">
            <div class="sort">
              <a href="#" id="sort_urgent">Sort by Name</a>
              <a href="#" id="sort_name" class="active">Sort by Wellness</a>
            </div>
            <%= render :partial => "therapists/shared/patient_card" %>
        </div>
        </main>
