

        <main>
          <div class="t-index">
            <div class="sort">
              <a href="#" class="sort_urgent">Sort by name</a>
              <a href="#" class="sort_name active">Sort by activity</a>
            </div>
            <%= render :partial => "therapists/shared/patient_card" %>

        </div>
        </main>
