

        <main>
          <div class="t-index">
            <div class="sort">
              <a href="#" class="sort_urgent">Sort by name</a>
              <a href="#" class="sort_name active">Sort by activity</a>
            </div>
          <% @clients.each do |c| %>
            <div class="patient_card">
                <p class="id_number"><%= c.id %></p>
                <p class="pt_name"><%= c.first_name %> <%= c.last_name %></p>
                <i class="material-icons show">error</i>
            </div>
          <% end %>

        </div>
        </main>
        <footer><a href="#">Return to Top</a></footer>
