<main>
  <div class="t-index">
    <div class="sort">
      <%= link_to "Sort by Wellness", "/therapist/#{@therapist.id}?sort_by=wellness", class: "active" %>
      <%= link_to "Sort by Name", "/therapist/#{@therapist.id}?sort_by=last_name", class: "" %>
    </div>
    <%= render :partial => "therapists/shared/patient_card" %>
</div>
</main>
