

        <main>
          <div class="t-index">
            <div class="sort">
              <a href="#" class="sort_urgent">Sort by name</a>
              <a href="#" class="sort_name active">Sort by activity</a>
            </div>
            <%= render :partial => "partials/patient-card" %>

        </div>
        </main>
        <footer><a href="#">Return to Top</a></footer>
