
    <div class="t-show-content">
        <div class="t-dashboard">
            <div class="t-dashboard-opt">All Activity</div>
            <div class="t-dashboard-opt">Calendar</div>
            <div class="t-dashboard-opt">Client Profile</div>
            <div class="t-dashboard-opt">Notes</div>
        </div>

    </div>
