<%= render :partial => "partials/t-dashboard" %>
<div class="t-view-content">
<%= render :partial => "partials/t-view-header" %>
<div class="t-view-main">


    <!-- PUT THERAPIST VIEW PAGE CONTENT BELOW HERE -->
    <div class="c-activity">
      <div class="filter_title">
        <a href="#" class="filter_event">Events</a>
        <a href="#" class="filter_entry">Entries</a>
        <a href="#" class="filter_mood">Mood</a>
        <a href="#" class="filter_all active">All</a>
      </div>
      <%= render :partial => "partials/activity" %>
    </div>

    <!-- END THERAPIST VIEW PAGE CONTENT -->

</div>
</div>
