<main>
    <!-- <div class="header-container">
        <header>
            <div class="site-logo">
                <i class="material-icons">perm_media</i>
            </div>
            <div class="user-welcome">
                <p>Welcome, Therapist</p>
            </div>
            <div class="menu-icon">
                <i class="material-icons">menu</i>
            </div>
        </header>
    </div>

    <nav class="therapist">
        <div>Home</div>
        <div>Account</div>
        <div>Logout</div>
    </nav> -->

    <div class="t-show-content">
        <div class="t-dashboard">
            <div class="t-dashboard-opt">All Activity</div>
            <div class="t-dashboard-opt">Calendar</div>
            <div class="t-dashboard-opt">Client Profile</div>
            <div class="t-dashboard-opt">Notes</div>
        </div>
    </div>
</main>
