<%= render :partial => "therapists/shared/t_dashboard" %>
<div class="t-view-content">
<%= render :partial => "therapists/shared/t_view_header" %>
<div class="t-view-main">

  <section class="t-profile profile">

    <%= render :partial => "therapists/shared/t_profile" %>
  </section>

</div>
</div>
