<%= render :partial => "partials/t-dashboard" %>
<div class="t-view-content">
<%= render :partial => "partials/t-view-header" %>
<div class="t-view-main">

  <section class="t-profile profile">

    <%= render :partial => "partials/t_profile" %>
  </section>

</div>
</div>
