<div class="patient_card event">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">EVENT</p>
</div>
<div class="patient_card entry">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">ENTRY</p>
</div>
<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
<div class="patient_card event">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">EVENT</p>
</div>
<div class="patient_card entry">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">ENTRY</p>
</div>
<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
<div class="patient_card event">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">EVENT</p>
</div>
<div class="patient_card entry">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">ENTRY</p>
</div>
<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
