<!-- activities can be one of three types: event, entry, or mood. should be indicated as class value on enclosing div. -->

<div class="patient_card event">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">EVENT</p>
</div>

<div class="patient_card entry">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">ENTRY</p>
</div>

<div class="patient_card mood">
  <p class="date">MM/DD/YYYY</p>
  <p class="time">HH:MM</p>
  <p class="activity-type">MOOD</p>
</div>
