<div class="c-data">

  <div class="data-block name"><h3>Client&nbsp;Name: </h3><span>FIRSTNAME I. LASTNAME</span></div>
  <div class="data-block dob"><h3>Date&nbsp;of&nbsp;Birth: </h3><span>MM/DD/YYYY</span></div>
  <div class="data-block phone"><h3>Primary&nbsp;Phone&nbsp;Number: </h3><span>123-456-7890</span></div>
  <div class="data-block em_phone"><h3>Emergency&nbsp;Phone&nbsp;Number: </h3><span>098-765-4321</span></div>

</div>
