<div class="t-view-dashboard">
    <div class="t-dashboard">
        <div class="t-dashboard-opt">
          <h3>All&nbsp;Activity</h3>
        </div>
        <div class="t-dashboard-opt">
          <h3>Calendar</h3>
        </div>
        <div class="t-dashboard-opt">
          <h3>Client&nbsp;Profile</h3>
        </div>
        <div class="t-dashboard-opt">
          <h3>Notes</h3>
        </div>
    </div>
</div>
