<div class="c-view-dashboard">

    <div class="c-dashboard">
        <div class="c-dashboard-opt" id="c-entries">
          <h3>Write&nbsp;Entry</h3>
        </div>
        <div class="c-dashboard-opt" id="c-events">
          <h3>Submit&nbsp;Event</h3>
        </div>
        <div class="c-dashboard-opt" id="c-surveys">
          <h3>Mood&nbsp;Survey</h3>
        </div>
        <div class="c-dashboard-opt" id="c-notes">
          <h3>Read&nbsp;Notes</h3>
        </div>
    </div>

</div>
