<div class="c-view-header">
  <div class="c-dashboard-toggle-container">
  <i class="fa fa-chevron-down c-view-dashboard-icon" aria-hidden="true"></i>
  <p class="c-show-dash-text">show dashboard</p>
  <p class="c-hide-dash-text">hide dashboard</p>
</div>
  <h3>Welcome!</h3>
</div>
