<!-- if user is client, edit should be included as a class in outer section -->
<section class="t-data data">

  <div class="data-block name"><h3>Therapist&nbsp;Name: </h3><span><%= @therapist.last_name %>, <%= @therapist.first_name %></span></div>
  <div class="data-block phone"><h3>Office&nbsp;Phone&nbsp;Number: </h3><span><%= @therapist.phone %></span></div>
  <div class="data-block email"><h3>Email&nbsp;Address: </h3><span><%= @therapist.email %></span></div>

</section>
