<!-- if user is a therapist, edit should be included as a class in outer section. -->
  <section class="t-data data edit">

    <div class="data-block name"><h3>Client Name: </h3><span><div><%= @therapist_name %></div><a class="edit">Edit</a></span></div>
      <aside class="name disappear">
        <div>
          <input class="edit-data" type="text" id="first_name" placeholder="FIRSTNAME"/>
          <input class="edit-data" type="text" id="initial" placeholder="I"/>
          <input class="edit-data" type="text" id="last_name" placeholder="LASTNAME"/>
        </div>
          <input class="button" type="submit" value="Submit"/>
      </aside>

    <div class="data-block dob"><h3>Email: </h3><span><div>MM/DD/YYYY</div><a class="edit">Edit</a></span></div>
      <aside class="dob disappear">
        <div>
          <input class="edit-data" type="number" id="month" placeholder="MM"/>
          <input class="edit-data" type="number" id="date" placeholder="DD"/>
          <input class="edit-data" type="number" id="year" placeholder="YYYY"/>
        </div>
        <input class="button" type="submit" value="Submit"/>
    </aside>

    <div class="data-block phone"><h3>Primary Phone Number: </h3><span><div>123-456-7890</div><a class="edit">Edit</a></span></div>
      <aside class="phone disappear">
        <div>
          <input class="edit-data" type="text" id="phone" placeholder="123-456-7890"/>
        </div>
        <input class="button" type="submit" value="Submit"/>
      </aside>

    <div class="data-block em_phone"><h3>Emergency Phone Number: </h3><span><div>098-765-4321</div><a class="edit">Edit</a></span></div>
      <aside class="em_phone disappear">
        <div>
          <input class="edit-data" type="text" id="em_phone" placeholder="098-765-4321"/>
        </div>
        <input class="button" type="submit" value="Submit"/>
      </aside>

  </section>
