<% @therapist = nil %>
<main class="registration">
  <div class="register-therapist"><h3>Register a Therapist</h3></div>
  <%= render partial: 'partials/new_therapist' %>
  <div class="register-client"><h3>Register a Client</h3></div>
  <%= render partial: 'partials/new_client' %>
</main>
