$seagreen: rgb(55, 207, 176);
$seagreenM: rgb(35, 188, 158);

$seafoam: #A3E0D3;

$grey: #dfe0e6;
$private-red: #8A0116;
$fun: #b1269e;

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
