$seagreen: #99ded0;
$seagreenM: #7ad4c2;

$seafoam: #cae8e2;

$grey: #dfe0e6;
$border-grey: #c9cacf;
$private-red: #8A0116;
$fun: #4c5fce;
$periwinkle: #5EAAED;
$dustymauve: #A49097;

$negative-event: $fun;
$positive-event: $periwinkle;
$neutral-event: $dustymauve;


@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
