
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



html,
body {
  height: 100%;
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cloth_alike.png");

}

$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenM: rgb(35, 188, 158);
$seagreenD: #0A382F;


a {
  color: $seagreenD;
  text-decoration: none;
  &:active, &:hover {
    color: $seagreenM;
  }
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}


main {
  margin-top: 50px;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: flex-start;
}

footer {
  font-family: 'Quicksand', sans-serif !important;
  display: flex;
  justify-content: center;
  height: 50px;
  background: $seagreenT;
  align-items: center;
  }
