
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



html,
body {
  height: 100%;
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cloth_alike.png");

}

$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenM: #7ad4c2;
$black: #000;


a {
  color: #000;
  text-decoration: none;
  &:active, &:hover {
    color: $seagreenM;
  }
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}


main {
  padding-top: 110px;
  height: 100%;
  display: block;
  font-family: 'Quicksand', sans-serif !important;

}

footer {
  font-family: 'Quicksand', sans-serif !important;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  height: 30px;
  background: $seagreen;
  align-items: center;
  margin-top: 100px;
  }
