$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;
$seafoam: #A3E0D3;
$grey: #dfe0e6;
$fun: #b1269e;




$jade: #7cdfcb;
$medium-jade: #4AD3B8;
$deep-jade: #30C5A7;
$private-red: #8A0116;

$jadeTb: rgba(124, 223, 203, 0.7);
$medium-jadeTb: rgba(74, 211, 184, 0.7);
$deep-jadeTb: rgba(48, 197, 167, 0.7);





// Typography
@import url('https://fonts.googleapis.com/css?family=Quicksand');


// Functions

@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}
