<main class="client-landing-page">

  <div class="nav-wrapper">
    <%= link_to surveys_index_path(current_user.id) do %>
      <div class="main-nav-opt">Mood</div>
    <% end %>
    <%= link_to entries_index_path do %>
      <div class="main-nav-opt">Entries</div>
    <% end %>
    <%= link_to events_index_path(current_user.id) do %>
      <div class="main-nav-opt">Events</div>
    <% end %>
    <%= link_to c_notes_index_path do %>
      <div class="main-nav-opt">Notes</div>
    <% end %>
  </div>





</main>
