<%= @client.first_name %>




<main class="client-landing-page">

  <div class="nav-wrapper">
      <div class="main-nav-opt">Mood</div>
      <div class="main-nav-opt">Entries</div>
      <div class="main-nav-opt">Events</div>
      <div class="main-nav-opt">Notes</div>
  </div>





</main>
