<!-- if user is client, edit should be included as a class in outer section -->
<section class="c-data data">

  <div class="data-block name"><h3>Client&nbsp;Name: </h3><span><%= @client_name %></span></div>
  <div class="data-block dob"><h3>Date&nbsp;of&nbsp;Birth: </h3><span><%= @client_dob %></span></div>
  <div class="data-block phone"><h3>Primary&nbsp;Phone&nbsp;Number: </h3><span><%= @client_phone %></span></div>
  <div class="data-block em_phone"><h3>Emergency&nbsp;Phone&nbsp;Number: </h3><span>098-765-4321</span></div>

</section>
