<% @entries.each do |e| %>
<% if e.sharable == true %>
<div class="patient_card entry activity-card">
    <div class="activity-type">
        <i class="fa fa-pencil"></i>
        <p>Journal Entry</p>
    </div>
    <p class="time">
        <%= e.created_at.strftime("%B %d, %Y at %I:%M %P") %>
    </p>
<<<<<<< .merge_file_0pMQF9
    <p hidden class="entry-title">
      <%= e.title %>
    </p>
    <p hidden class="entry-content">
      <%= e.body %>
=======
    <p hidden>
      <% e.read %>
    </p>
    <p hidden>
      <% e.body %>
>>>>>>> .merge_file_Jw8uD3
    </p>
</div>
<% end %>
<% end %>
