<% @entries.each do |e| %>
<% if e.sharable == true %>
<div class="patient_card entry activity-card">
    <div class="activity-type">
        <i class="fa fa-pencil"></i>
        <p>Journal Entry</p>
    </div>
    <p class="time">
        <%= e.created_at.strftime("%B %d, %Y at %I:%M %P") %>
    </p>
    <p hidden>
      <% e.body %>
    </p>
</div>
<% end %>
<% end %>
