<% @entries.each do |e| %>
<% if e.sharable == true %>
<div class="patient_card entry activity-card">
    <div class="activity-type">
        <i class="fa fa-pencil"></i>
        <p class="activity-type">Entry</p>
    </div>
    <p class="time">
        <%= e.created_at.strftime("%B %d at %I:%M %p") %>
    </p>
</div>
<% end %>
<% end %>
