<% @events.each do |e| %>
  <div class="patient_card event activity-card">
    <div class="activity-type">
      <i class="fa fa-star-o"></i>
      <p>Event - <span class="type-of">negative</span></p>
    </div>
    <p class="time"><%= e.created_at.strftime("%B %d, %Y at %I:%M %P") %></p>


  </div>
<% end %>
