<% @surveys.each do |s| %>
  <div class="patient_card mood">
    <p class="date"><%= s.created_at.to_date %></p>
    <p class="time"><%= s.created_at.strftime("%H:%M") %></p>
    <p class="activity-type">Mood</p>
    <i class="fa fa-smile-o"></i>
  </div>
<% end %>
