<div class="t-view-dashboard">
    <div class="t-dashboard">
        <div class="t-dashboard-opt">
          <h3><%= link_to 'All Activity', client_activity_path(params[:id]), class:"dashboard-link" %></h3>
        </div>
        <div class="t-dashboard-opt">
          <h3><%= link_to 'Calendar', client_calendar_path(params[:id]), class:"dashboard-link" %></h3>

        </div>
        <div class="t-dashboard-opt">
          <h3><%= link_to 'Client Profile', c_profile_path(params[:id]), class:"dashboard-link" %></h3>
        </div>
        <div class="t-dashboard-opt">
          <h3><%= link_to 'Notes', notes_index_path(params[:id]), class:"dashboard-link" %></h3>
        </div>
    </div>
</div>

<!--  Links lost original hover styling :( -->
