<div class="t-view-dashboard">
    <div class="t-dashboard">
      <%= link_to client_activity_path(params[:id]), class:"t-dashboard-opt", id:"t-activity" do %>
        <div>
          <h3>All Activity</h3>
        </div>
        <% end %>
        <%= link_to client_calendar_path(params[:id]), class:"t-dashboard-opt", id:"t-calendar" do %>
        <div>
          <h3>Calendar</h3>
        </div>
        <% end %>
        <%= link_to notes_index_path(params[:id]), class:"t-dashboard-opt",
        id:"t-notes" do %>
        <div>
          <h3>Notes</h3>
        </div>
        <% end %>
        <%= link_to c_profile_path(params[:id]), class:"t-dashboard-opt", id:"t-client-profile" do %>
        <div>
          <h3>Client Profile</h3>
        </div>
        <% end %>

    </div>
</div>
