<div class="t-view-header">
  <div class="t-dashboard-toggle-container">
  <i class="fa fa-chevron-down t-view-dashboard-icon" aria-hidden="true"></i>
  <p class="show-dash-text">show dashboard</p>
  <p class="hide-dash-text">hide dashboard</p>
</div>
  <h3><%= @client_name %></h3>
</div>
