<%= render :partial => "clients/shared/c_dashboard.html" %>
<div class="c-view-content">
<%= render :partial => "clients/shared/c_view_header.html" %>
<div class="c-view-main">

  <main class="event">
    <h1 class="welcome">Your event has been successfully submitted!</h1>

  </main>

</div>
</div>
