<%= render :partial => "clients/shared/c_dashboard.html" %>
<div class="c-view-content">
<%= render :partial => "clients/shared/c_view_header.html" %>
<div class="c-view-main">


  <div class="make_event">
    <h1 class="welcome">Events are significant life changes. Please enter details below to create an event to post to your therapist's calendar</h2>
    <%= render :partial => "events/shared/add_event.html" %>
  </div>


</div>
</div>
