<%= render :partial => "clients/shared/c_dashboard.html" %>
<div class="c-view-content">
<%= render :partial => "clients/shared/c_view_header.html" %>
<div class="c-view-main">

  <main class="survey">
    <%= render :partial => "surveys/shared/client_survey.html" %>
  </main>

</div>
</div>
