<%= render :partial => "clients/shared/c_dashboard.html" %>
<div class="c-view-content">
<%= render :partial => "clients/shared/c_view_header.html" %>
<div class="c-view-main">

  <main class="survey">
    <div class="welcome">Thank you for submitting your Mood Survey.</div>

  </main>

</div>
</div>
