

<form id="add-event">

<div class="event-date">
  <label for="event-date">Event Date: </label>
  <input id="event-date" type="date"/>
</div>

<div class="event-type">
  <label for="event-type">Nature of the Event: </label>
  <select name="event-type">
    <option value="negative">Not so good <i class="fa fa-frown-o"></i></option>
    <option value="neutral" selected>Neither good nor bad <i class="fa fa-meh-o"></i></option>
    <option value="positive">Good <i class="fa fa-smile-o"></i></option>
  </select>
</div>

<div class="event-text">
  <label for="event-text">Describe the Event: </label>
  <textarea id="event-text" type="text"></textarea>
</div>

</form>
