
$grey: #dfe0e6;
$border-grey: #c9cacf;
$text-grey: #a5a5a5;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seajade: rgb(35, 188, 158);
$seafoam: #cae8e2;
$private-red: #8A0116;
$fun: #4c5fce;
$sky: #8CC6DB;
$dustylilac: #928EA0;

/* Pop Color */
$pop-color: $fun;

/* Calendar Event Colors */
$negative-event: $pop-color;
$positive-event: $sky;
$neutral-event: $dustylilac;

/* Icon Color for Activity Detail, Note, Entry Cards */
$detail-icon-color: $seajade;

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-activity {
  width: 100%;
  max-width: 700px;
  height: 100%;
  margin: 20px auto;
  background: $grey;
  padding: 10px 10px;

  .filterBy {
    font-style: italic;
    color: #000;
  }

  .filter_title {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 10px auto 10px;
    width: 100%;
    background: $seagreenM;
    border: .25px solid $seagreenM;


    @media (max-width: 570px){
      width: 100%;
    }

      a {
        font-size: 20px;
        text-align: center;
        width: 25%;
        padding: 15px;
        height: 100%;
        color: #000;
        background-color: $seafoam;
        border-right: .25px solid $seagreenM;
        &.filter_event {
          background-color: $seafoam;
        }
        &.filter_entry {
          background-color: $seafoam;
        }
        &.filter_mood {
          background-color: $seafoam;
        }
        &.filter_all {
        border: none;
        }
        &.active{
          background: $seagreen;
          color: #fff;
        }

        i {
          margin-right: 5px;
        }

      }
  }
  .patient_card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 18px;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 5px;
    &.event {
        color: $pop-color;
    }
    &.entry {
      color: $seagreen;
    }
    &.mood {
      color: $seagreenM;
    }
    &:hover{
      background: $seafoam;
      color: #000;
    }

    &.read {
      .fa-bell-o {
        visibility: hidden;
      }
    }
  }

  .activity-type {
    i {
      font-size: 24px;
    }
    p {
      margin-left: 10px;
      font-size: 20px;
      display: inline;
    }

    span.score, span.type-of {
      font-style: italic;
    }
  }

  p.time {
    font-style: italic;
  }

}
