$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;
$red: rgb(234,6,6);
$seafoam: #A3E0D3;
$grey: #dfe0e6;
$fun: #b1269e;

.c-activity {
  width: 100%;
  height: 100%;
  margin: 30px auto;
  background: $grey;
  padding: 1px 10px;

  .filter_title {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 11px auto 7px;
    width: 100%;
    background: $seagreenM;

    @media (max-width: 570px){
      width: 100%;
    }

      a {
        text-align: center;
        width: 25%;
        padding: 15px;
        height: 100%;
        color:$seagreenD;
        background-color: $seafoam;
        border-right: .25px solid $seagreenM;
        &.filter_event {
          background-color: $seafoam;
        }
        &.filter_entry {
          background-color: $seafoam;
        }
        &.filter_mood {
          background-color: $seafoam;
        }
        &.filter_all {
        border: none;
        }
        &.active{
          background: $seagreen;
          color: #fff;
        }
      }
  }
  .patient_card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    font-size: 17px;
    align-items: center;
    background: #fff;
    margin-bottom: 5px;
    &.event {
        color: $fun;
    }
    &.entry {
      color: $seagreen;
    }
    &.mood {
      color: $seagreenM;
    }
    &:hover{
      background: $seafoam;
      color: $seagreenD;
    }
  }
}
