$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;
$red: rgba(234,6,6,0.65);

.c-activity {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  .filter_title {
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 11px auto;
    width: 85%;
    background: $seagreenMT;
    @media (max-width: 570px){
      width: 100%;
    }

      a {
        text-align: center;
        width: 25%;
        padding: 15px;
        height: 100%;
        &.active{
          background: $seagreenTb;
          color: #fff;
        }
      }
  }
  .patient_card {
    width: 85%;
    margin: 0 auto;
    @media (max-width: 570px){
      width: 100%;
    }
    p {
      display: inline-flex;
      width: 30%;
      justify-content: center;
      align-items: center;
      margin-right: 1%;
    }
    &.event {
      background-color: rgba($seagreenM, 0.2);
      p {
        color: $red;
      }
    }
    &.entry {
      background-color: rgba($seagreenM, 0.3);
    }
    &.mood {
      background-color: rgba($seagreenM, 0.4);
    }
    &:hover{
      background: $seagreen;
    }
  }
}
