$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: #7ad4c2;
$seagreenMT: rgba(35, 188, 158, 0.4);
$dark: #333333;
$seafoam: #cae8e2;
$grey: #dfe0e6;
$border-grey: #c9cacf;
$fun: #4c5fce;
$periwinkle: #5EAAED;
$dustymauve: #A49097;
// Functions

@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}
.client-landing-page {
width: 100%;
height: 100%;
margin-top: 50px;
display: flex;
justify-content: center;

  .nav-wrapper {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    @media (max-width: 900px){
      flex-wrap: wrap;
    }
      a {
        width: auto;
        margin: 0 20px 20px;
          div.main-nav-opt {
          color: #000;
          font-size: 1.5em;
          height: 200px;
          width: 200px;
          cursor: pointer;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: column;
          background: $seafoam;
          border: 0.25px solid $seagreenM;
          i {
            font-size: 1.7em;
            }
            &:hover {
            // text-decoration: underline;
            background: $seagreen;
            color: #fff;
            }
          }
          h3 {
            width: 200px;
            padding: 20px 20px 0;
            text-align: center;
            font-size: 1.1em;
            }
      }
  }
}
