$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;



  .c-profile {
    background: rgba(55, 207, 176, 0.7);
    height: 90%;
    padding: 2%;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    .c-data {
      display: flex;
      flex-direction: column;

      .data-block {
        display: flex;
        flex-direction: column;
        align-items: center;


        h3 {
          font-size: 36px;
          color: $seagreenD;
          @media (max-width: 760px){
              font-size: 4vw;
          }
        }
        span {
          display: block;
          font-size: 30px;
          margin: 5% 0;
          color: #fff;
          @media (max-width: 760px){
              font-size: 4vw;
        }
      }
    }

  }
}
