$seagreen: rgb(55, 207, 176);
$seagreenM: rgb(35, 188, 158);
$seagreenD: #0A382F;
$seafoam: #A3E0D3;
$grey: #dfe0e6;
$border-grey: #c9cacf;
$fun: #b1269e;
$private-red: #8A0116;
$deep-jade: #30C5A7;

//buttons
.button-box {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  @media (max-width: 700px) {
    margin-top: 196px;
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
  &.shrink {
    // height: 100px;
    @media (max-width: 650px) {
      margin-top: 200px;

    }
    #add-entry-btn,
    #previous-entries-btn {
      height: 50px;
      margin-bottom: 0px;
    }
  }
    #previous-entries-btn,
    #add-entry-btn {
      width: 300px;
      height: 300px;
      background: $seafoam;
      &:hover {
        background: $seagreen;
        color: #fff;
      }
      &:nth-child(1) {
        border-right: 0.25px solid $seagreenM;
        @media (max-width: 650px) {
          border-right:none;
          border-top: 0.25px solid $seagreenM;
        }
      }
      @media (max-width: 650px) {
        width: 100%;
        height: 100px;
        border-bottom: 0.25px solid $seagreenM;
        margin: 0;
      }
    }
}

//views
.disappear {
  display: none !important;
}

// previous entries view
.entry-card {
  margin: 45px 0;
  border-bottom: 0.5px solid $seagreenD;
  background: $grey;
  padding: 10px;
  @media (max-width: 650px) {
    margin: 80px 0;
  }
  .entry-text-container {
    background: $seafoam;
    padding: 5px;
    h2.title {
      font-size:18px;
      color: $fun;
      overflow-wrap: break-word;
    }
  }
  .entry-text {
    margin: 15px 0;
    overflow-wrap: break-word;
  }
  .entry-timestamp {
    margin: 15px 0;
    display: inline-flex;
    flex-direction: column;
    width: 48%;
  }
}
.fa-eye-slash {
  color: $private-red;
}
.fa-eye {
  color: $deep-jade;
}
//toggle switch for privacy setting
.privacy {
  display: inline-flex;
  justify-content: flex-end;
  width: 48%;
  &.privacy-toggle {
    width: 100%;
  }
  div.togglePrivacy {
    position: relative;
    margin-bottom: 15px;
    font-size: 19px;
    background: #23bc9e;
    width: 100px;
    border-radius: 5px;
    height: 35px;
    #togglePrivacy {
      opacity: 0;
      z-index: 3;
      position: absolute;
      width: 100px;
      height: 35px;
    }
    #togglePrivacy + label::before {
      content: "Shared";
      color: #c2e4dd;
      left: 40px;
      top: 10px;
      position: absolute;
      font-size: 16px;
    }
    #togglePrivacy:checked + label::before {
      content: "";
    }
    #togglePrivacy:checked + label::after {
      content: "Private";
      top: 10px;
      left: 4px;
      position: absolute;
      font-size: 16px;
      color: #0e6150;
    }
    #togglePrivacy + label > span {
      transition: all .15s ease;
      background: #7cdfcb;
      width: 35px;
      height: 35px;
      position: absolute;
      left: 3px;
      top: 0px;
      border-radius: 5px;
    }
    #togglePrivacy:checked + label > span {
      left: 63px;
    }
  }
}

// new entry view
#add-entry {
  margin: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 650px) {
    margin: 80px 0;
  }

  h2 {
    font-size: 23px;
    margin-bottom: 5px;
    color: $seagreenD;
  }
  #new-entry {
    width: 100%;
  }
  div.title,
  div.text {
    width: 100%;
    margin-top: 10px;
    display: flex;
    label {
      text-align: center;
    }
  }
  .title label,
  .text label {
    font-size: 18px;
    margin: 10px 5px;
    color: $seagreenD;
    font-weight: 200;
    width: 50px;
  }
  .title input {
    width: 90%;
    line-height: 29px;
    font-size: 22px;
    color: $seagreenD;
    border: 0.25px solid $seagreenD;
    max-width: 785px;
    margin: 0 auto;
    @media (max-width: 650px) {
      width: 100%;
    }
    &:focus {
      outline-color: $seagreenD;
      background: rgba(150, 229, 213, 0.35);
      }
    }
  #entry-text {
    font-family: 'Quicksand', sans-serif;
    margin: 10px auto;
    width: 90%;
    height: 30vh;
    font-size: 20px;
    padding: 5px;
    color: $seagreenD;
    border: 0.25px solid $seagreenD;
    max-width: 785px;
    &:focus {
      outline-color: $seagreenD;
      background: rgba(150, 229, 213, 0.35);
    }
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 785px;

    align-items: flex-end;
  }
  input.button {
    width: 140px;
    display: inline-block;
    margin: 0;
  }

}
