$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: #7ad4c2;
$seagreenMT: rgba(35, 188, 158, 0.4);
$seajade: rgb(35, 188, 158);
$dark: #333333;
$seafoam: #cae8e2;
$grey: #dfe0e6;
$border-grey: #c9cacf;
$text-grey: #a5a5a5;
$fun: #4c5fce;
$sky: #8CC6DB;
$dustylilac: #928EA0;
$private-red: #8A0116;



/* Pop Color */
$pop-color: $fun;

/* Calendar Event Colors */
$negative-event: $pop-color;
$positive-event: $sky;
$neutral-event: $dustylilac;

/* Icon Color for Activity Detail, Note, Entry Cards */
$detail-icon-color: $seajade;
.c-view-main {
  max-width: 780px;
  margin: 0 auto;
  .welcome {
    margin-bottom: 15px;
    font-size: 24px;
  }
}

//buttons
.button-box {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  @media (max-width: 650px) {
    flex-direction: column;
  }

    #previous-entries-btn,
    #add-entry-btn {
      height: 50px;
      margin-bottom: 0px;
      border: 0.25px solid $seagreenM;
      width: 50%;
      background: $seafoam;
      font-size: 20px;
      &.active{
        background: $seagreen;
        color: #fff;
      }
      &:hover {
        background: $seagreen;
        color: #fff;
      }
      @media (max-width: 650px) {
        margin: 1px auto;
        width: 100%;
        height: 100px;
      }
    }
}

//views
.disappear {
  display: none !important;
}

// previous entries view
.entry-card {
  margin: 45px auto;
  border: 0.25px solid $border-grey;
  background: #fff;
  max-width: 700px;
  @media (max-width: 650px) {
    margin: 20px auto;
  }
  .entry-header {
    background: $grey;
    border-bottom: 0.25px solid $border-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 0px 10px;
    width: 100%;
    height: 40px;
     i {
       margin-right: 5px;
     }
}
  }
  .entry-text-container {
    background: #fff;
    h2.title {
      font-size:18px;
      color: #000;
      overflow: hidden;
      max-width: 80%;

    }
  }
  .entry-text {
    margin: 0;
    overflow-wrap: break-word;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
  }
  .entry-timestamp {
    color: $text-grey;
    font-size: 14px;
    font-style: italic;
    margin: 5px 0 0;
    width: 100%;
    text-align: right;
  }

.fa-eye-slash, .private.entry-status {
  color: $private-red;
}
.fa-eye, .shared.entry-status {
  color: $seajade;
}
.entry-header .fa-pencil {
  color: $fun;
}
//toggle switch for privacy setting
.privacy {
  display: inline-flex;
  justify-content: flex-end;
  width: 48%;
  &.privacy-toggle {
    width: 100%;
  }
  div.togglePrivacy {
    position: relative;
    margin-bottom: 15px;
    font-size: 19px;
    background: #23bc9e;
    width: 100px;
    border-radius: 5px;
    height: 35px;
    #togglePrivacy {
      opacity: 0;
      z-index: 3;
      position: absolute;
      width: 100px;
      height: 35px;
    }
    #togglePrivacy + label::before {
      content: "Shared";
      color: #fff;
      left: 40px;
      top: 10px;
      position: absolute;
      font-size: 16px;
    }
    #togglePrivacy:checked + label::before {
      content: "";
    }
    #togglePrivacy:checked + label::after {
      content: "Private";
      top: 10px;
      left: 4px;
      position: absolute;
      font-size: 16px;
      color: $private-red;
    }
    #togglePrivacy + label > span {
      transition: all .15s ease;
      background: #7cdfcb;
      width: 35px;
      height: 35px;
      position: absolute;
      left: 3px;
      top: 0px;
      border-radius: 5px;
    }
    #togglePrivacy:checked + label > span {
      left: 63px;
    }
  }
}

// new entry view
#add-entry {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 650px) {
    margin: 20px auto;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
  }
  #new-entry {
    width: 100%;
    background: $grey;
    border: 0.25px solid $border-grey;
    padding: 5px;
  }
  div.title,
  div.text {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label {
      text-align: center;
    }
    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  .title label,
  .text label {
    font-size: 18px;
    margin: 10px 5px;
    color: $fun;
    font-weight: 200;
    width: 50px;
  }
  .title input {
    width: 100%;
    line-height: 29px;
    font-size: 22px;
    color: #000;
    border: 0.25px solid $border-grey;
    margin: 0 auto;
    @media (max-width: 650px) {
      width: 100%;
    }
    &:focus {
      outline-color: $fun;
      background: $seafoam;
      }
    }
  #entry-text {
    font-family: 'Quicksand', sans-serif;
    margin: 10px auto;
    width: 100%;
    height: 20vh;
    font-size: 20px;
    padding: 5px;
    color: #000;
    border: 0.25px solid $border-grey;
    &:focus {
      outline-color: $fun;
      background: rgba(150, 229, 213, 0.35);
    }
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 785px;
    margin: 0 auto;
    align-items: flex-end;
  }
  input.button {
    width: 140px;
    display: inline-block;
    margin: 0;
  }
  section.add-entry-footer {
    flex-direction: row;
    .privacy div.togglePrivacy {
      margin: 10px;
    }

  }
}
