
$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenM: rgb(35, 188, 158);
$seagreenD: #0A382F;



header {
  font-family: 'Quicksand', sans-serif !important;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $seagreen;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;

      .site-logo {
        margin: 0 10px;
      }
}

nav {
  transition: all .5s ease-in-out;
  background-color: $seagreen;
  width: 100%;
  position: fixed;
  top: 30px;
  display: none;
  z-index: 3;
  font-family: 'Quicksand', sans-serif !important;

      &.header-nav-active {
        display: block;
      }

  @media (min-width: 600px) {
    position: relative;
    top: 0;
    display: block;
    width: auto;
  }

}

#header-nav-icon {
  @media (min-width: 600px) {
    display: none;
  }
}





.header-nav-opt {
  border-top: 0.25px solid $seagreenM;
  padding: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

    &:hover {
      cursor: pointer;
      background-color: tint($seagreen, 25%);
      color: #fff;
    }


  @media (min-width: 600px){
    float: left;
    width: calc(100%/3);
    border: none;
    &:hover {
      cursor: pointer;
      background-color: $seagreen;
      color: #fff;
    }
  }

}
