
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seafoam: #cae8e2;

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


header {
  font-family: 'Quicksand', sans-serif !important;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $seagreen;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
  color: #fff;

      .site-logo {
        z-index: 7;
        margin: 0 10px;

          .site-title {
            font-family: 'Dancing Script';
            font-style: bold;
            font-size: 30px;
            color: #fff;
          }
      }
}

nav {
  width: 100%;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1.2em;

  span.icon {
    font-size: 1.2em;
      i.user-icon {
        margin-right: 5px;
      }
      i.logout-icon {
        margin-right: 2px;
      }
  }

}


.header-nav-opt {
  padding: 0 5px;
  margin-right: 5px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

    span.nav-text.username {
      display: none;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      span.icon {
        text-decoration: none;
      }
    }

    &.selected {
      text-decoration: underline;
    }


  @media (min-width: 530px){
    span.nav-text.username {
      display: inline-flex;
    }
    span.nav-text.account {
      display: none;
    }


  }


}
