
$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenM: rgb(35, 188, 158);
$seagreenD: #0A382F;

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
* {
  font-family: 'Quicksand', sans-serif;
}

.header-container {
  font-family: 'Quicksand', sans-serif;

  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cloth_alike.png");
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $seagreen;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
        div {
          margin: 0 10px;
        }

        .user-welcome {
          font-size: 1.3em;
        }

        .menu-icon {
          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }

}

nav {
  background-color: $seagreen;
  width: 100%;
  float: right;
  display: none;
  position: relative;
  font-family: 'Quicksand', sans-serif !important;


    div {
      border-top: 0.25px solid $seagreenM;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: 700px){
        display:inline-flex;
        width: 32%;
        border: none;
      }
      &:hover {
        cursor: pointer;
        background-color: tint($seagreen, 25%);
        color: #fff;
      }


    }
}

a {
  color: $seagreenD;
  text-decoration: none;
  &:active, &:hover {
    color: $seagreenM;
  }
}

main {
  margin-top: 50px;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: flex-start;
}

footer {
  font-family: 'Quicksand', sans-serif !important;
  display: flex;
  justify-content: center;
  height: 50px;
  background: $seagreenT;
  align-items: center;
  }
