
$grey: #dfe0e6;
$border-grey: #c9cacf;
$text-grey: #a5a5a5;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seajade: rgb(35, 188, 158);
$seafoam: #cae8e2;
$private-red: #8A0116;
$fun: #4c5fce;
$sky: #8CC6DB;
$dustylilac: #928EA0;

// the devise alert
// .notice,
// .alert {
//   color: red;
//   font-size: 2em;
//   position: relative;
//   top: 36%;
// }

.login-content {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 20px;
      font-size: 3em;
      color: #000;
    }

    .form-wrap {

        width: 400px;
        background-color: $seafoam;
        padding: 2em;

        @media (max-width: 600px) {
          transform: scale(.8);
        }

        label {
          display: none;
        }

        label.checkbox-label {
          display: inline;
          float: left;
        }

        input.checkbox {
          float: left;
          margin-right: 8px;
        }

        input.input {
          font-family: inherit;
          font-size: 1.2em;
          border: 1px solid $seagreen;
          border-radius: 2px;
          text-align: center;
          margin-bottom: 15px;
          padding: 10px;
          width: 100%;
          transition: all .2s ease;

          &:hover, &:focus {
            border-color: $seagreenM;
            outline: 0;
          }

        }

         input.button {
          font-family: inherit;
          font-size: 1.2em;
          color: #fff;
          border: 0;
          border-radius: 2px;
          text-align: center;
          margin: 15px 0;
          padding: 10px;
          width: 100%;
          background-color: $seajade;
          cursor: pointer;
          font-weight: 900;
          &:hover {
            color: #fff;
            background-color: $seagreenM;
          }
        }
    }

    .form-wrap  .tab-content-footer {
      text-align: center;

    }



}
