$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);


// the devise alert
// .notice,
// .alert {
//   color: red;
//   font-size: 2em;
//   position: relative;
//   top: 36%;
// }

.login-content {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 20px;
      font-size: 3em;
      color: #000;
    }

    .form-wrap {

        width: 400px;
        background-color: #A3E0D3;
        padding: 2em;

        @media (max-width: 600px) {
          transform: scale(.8);
        }

        label {
          display: none;
        }

        label.checkbox-label {
          display: inline;
          float: left;
        }

        input.checkbox {
          float: left;
          margin-right: 8px;
        }

        input.input {
          font-family: inherit;
          font-size: 1.2em;
          border: 1px solid #fff;
          border-radius: 2px;
          text-align: center;
          margin-bottom: 15px;
          padding: 10px;
          width: 100%;
          transition: all .2s ease;

          &:hover, &:focus {
            border-color: $seagreen;
            outline: 0;
          }

        }

         input.button {
          font-family: inherit;
          font-size: 1.2em;
          color: #fff;
          border: 0;
          border-radius: 2px;
          text-align: center;
          margin: 15px 0;
          padding: 10px;
          width: 100%;
          background-color: shade($seagreenT, 5%);
          cursor: pointer;
          &:hover {
            color: #FAFFBD;
            background-color: shade($seagreenT, 10%);
          }
        }
    }

    .form-wrap  .tab-content-footer {
      text-align: center;

    }



}
