$seagreenL: #05FFCD;
$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;
$mbpBlue: #4478c1;
$mbpBlueD: #4e38cf;
$mbpWhite: #EFFBF9;

//Julia's variables

$pale-jade: #CEF3EC;
$light-jade: #BDEFE5;
$jade: #6BDBC5;
$medium-jade: #4AD3B8;
$dark-jade: #37CFB0;
$deep-jade: #30C5A7;
$deepest-jade: #28A48B;
$seagreenT: rgba(55, 207, 176, 0.4);

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 40px 0;
      font-size: 3em;
      color: #000;
    }

    .form-wrap {
        width: 400px;
        margin: 20px auto;

        input {
          font-family: inherit;
          font-size: 1.2em;
          border: 1px solid #fff;
          border-radius: 2px;
          text-align: center;
          margin-bottom: 20px;
          padding: 10px;
          width: 100%;
          transition: all .2s ease;

          &:hover, &:focus {
            border-color: $deep-jade;
            outline: 0;
          }

        }

        .button {
          color: #000;
          border: 0;
          width: 100%;
          background-color: shade($seagreenT, 5%);
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: shade($seagreenT, 10%);
          }
        }
    }

    .form-wrap .tabs {
        overflow: hidden;
    }

    .form-wrap .tabs h3 {
        float: left;
        width: 50%;
    }

    .form-wrap .tabs h3 a {
        padding: 0.7em 0;
        text-align: center;
        font-weight: 300;
        background-color: tint($seagreenT, 20%);
        display: block;
        color: #000;
        font-size: 1.3em;
    }

    .form-wrap .tabs h3 a.active {
        background-color: $seagreenT;

    }

    .form-wrap .tabs-content {
        background-color: $seagreenT;
        padding: 1.7em;
    }

    .form-wrap .tabs-content div[id$="tab-content"] {
        display: none;
    }

    .form-wrap .tabs-content .active {
        display: block !important;
    }

    .form-wrap .tabs-content .tab-content-footer {
      text-align: center;
      &:hover {
        color: #fff;
      }
    }


}
