$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 400px;
$tablet-small: 630px;
$mobile-large: 580px;
$desktop-mid: 1175px;


@mixin media($bp) {
//      @if $bp == desktop{
//         @media only screen and (max-width: $desktop-width) {
//              @content;
//         }
//     }
//     @if $bp == desktopMid {
//          @media only screen and (max-width: $desktop-mid){
//             @content;
//         }
//     }
//     @if $bp == tablet {
//          @media only screen and (max-width: $tablet-width){
//             @content;
//         }
//     }
//     @if $bp == tabletSmall {
//          @media only screen and (max-width: $tablet-small){
//             @content;
//         }
//     }
    @if $bp == mobileLarge {
         @media only screen and (min-width: $mobile-large){
            @content;
        }
    }
    @if $bp == mobile {
         @media only screen and (min-width: $mobile-width){
            @content;
        }
    }
}
