$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;

@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}





  .profile {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 95%;
    max-width: 600px;
    .data {
      background: $seagreenTb;
      display: flex;
      flex-direction: column;
      width: 100%;
      .data-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 36px;
          color: $seagreenD;
          padding: 3%;
          @media (max-width: 760px){
              font-size: 4vw;
          }
        }
        span {
          display: block;
          font-size: 30px;
          padding: 3%;
          margin: 5% 0;
          color: #fff;
          @media (max-width: 760px){
              font-size: 4vw;
        }
      }
    }

  }
}
.profile {

  section.edit {
    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: $seagreenMT;
      &.disappear {
        display: none;
      }
      div {
        display: flex;
        justify-content: center;
        input {
          &:focus {
            outline-color: $seagreenD;
          }
          line-height: 2em;
          width: 25vw;
          min-width: 160px;
          max-width: 194px;
          text-align: center;
          margin: 1%;
          @media (max-width: 540px){
            display: block;
          }

        }

      }
    }
    .data-block {
      width: 100%;
      height: 20vh;
      border-bottom: 0.25px solid $seagreenM;
      &:hover {
        background: $seagreen !important;
      }
      &.name {
        border-top: 0.25px solid $seagreenM;
      }

      h3 {
        font-size: 1.2em;
        display: flex;
        align-items: flex-start;
        width: 100%;
      }
    span {
      font-size: 1em;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;
      }
      a {
        font-size: 1em;
        cursor: pointer;
        &.active {
          color: white;
        }
        &:hover {
          color: shade($seagreenM, 10%);
        }
      }
    }
  }
}
input.button {
 font-family: inherit;
 font-size: 1.2em;
 color: #000;
 border: 0;
 border-radius: 2px;
 text-align: center;
 margin: 15px 0;
 padding: 10px;
 width: 100px;
 height: 44px;
 background-color: $seagreenM;
 cursor: pointer;
 &:hover {
   color: #fff;
   background-color: shade($seagreenM, 10%);
 }
 &:focus {
   outline: 0;
 }

}
