$seagreen: rgb(55, 207, 176);
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;
$dark: #333333;



  .profile {
    background: rgba(55, 207, 176, 0.7);
    height: 90%;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    .data {
      display: flex;
      flex-direction: column;
      width: 100%;
      .data-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 36px;
          color: $seagreenD;
          padding: 3%;
          @media (max-width: 760px){
              font-size: 4vw;
          }
        }
        span {
          display: block;
          font-size: 30px;
          padding: 3%;
          margin: 5% 0;
          color: #fff;
          @media (max-width: 760px){
              font-size: 4vw;
        }
      }
    }

  }
}
.profile {

  section.edit {
    aside {
      display: flex;
      justify-content: space-around;
    }
    .data-block {
      width: 100%;
      &:hover {
        background: $seagreen !important;
      }
      &:nth-child(odd){
      background: $seagreenT;
      }
      &:nth-child(even){
      background: $seagreenTb;
      }
      h3 {
        font-size: 3vw;
        display: flex;
        align-items: flex-start;
        width: 100%;
      }
    span {
      font-size: 3vw;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 100%;
      }
      a {
        font-size: 2vw;
        cursor: pointer;
        &.active {
          color: white;
        }
      }
    }
  }
}
