$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: #7ad4c2;
$seagreenMT: rgba(35, 188, 158, 0.4);
$black: #000;
$dark: #333333;
$seagreenLb: rgb(107, 213, 192);
$seafoam: #cae8e2;
$grey: #dfe0e6;
$fun: #4c5fce;


.welcome {
  font-size: 24px;
  &.account {
    margin-top: 20px;
  }
}

aside.my-therapist {
  div {
    padding-bottom: 50px;
    width: 70%;
    .t-data .data-block {
      background: #fff;
      padding: 5px;
    }
  }
}

  .profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .data {
      margin: 20px;
      background: none;
      display: flex;
      flex-direction: column;

      .data-block {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        @media (min-width: 500px) {
          flex-direction: row;
          flex-wrap: nowrap;
        }

        h3 {
          font-size: 20px;
          color: #000;
          margin-right: 10px;
          @media (max-width: 470px){
              font-size: 19px;
              padding: 0;
          }
        }
        span {
          display: flex;
          justify-content: flex-start;
          font-size: 18px;
          color: $fun;
          width: 100%;
          @media (max-width: 470px){
              font-size: 18px;
              justify-content: flex-start;
              padding: 0;
        }
      }
    }

  }
}
.profile {

  section.edit {
    background: $seafoam;
    display: block;
    align-self: center;
    padding: 20px;
    @media (min-width: 700px) {
      min-width: 600px;
    }
    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: $seafoam;
      padding-bottom: 5px;
      &.disappear {
        display: none;
      }
      div {
        display: flex;
        justify-content: center;
        @media (max-width: 540px){
          flex-direction: column;
        }

        input {
          color: #000;
          font-family: 'Quicksand',sans-serif;
          font-size: 18px;
          &:focus {
            outline-color: #000;
          }
          line-height: 25px;
          text-align: center;
          margin: 5px auto;
          @media (max-width: 540px){
            display: block;
          }

        }

      }
    }
    .data-block {
      width: 100%;
      border: 0.25px solid $seafoam;
      padding: 0 5px;
      flex-direction: column;
      h3 {
        font-size: 22px;
        display: flex;
        align-items: flex-start;
        width: 100%;
      }
      span {
        color: $fun;
        font-size: 20px;
        width: 100%;
      }
      div {
        width: 100%;
      }
      a {
        text-align: right;
        font-size: 16px;
        cursor: pointer;
        color: #000;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
input.button {
 font-family: inherit;
 font-size: 1.1em;
 border: 0;
 border-radius: 2px;
 text-align: center;
 margin: 15px 0;
 padding: 10px;
 width: 100px;
 height: 44px;
 background-color: $seagreen;
 cursor: pointer;
 &.edit {
   display: block;
 }
 &:hover {
   color: #fff;
   background-color: $seagreenM;
 }
 &:focus {
   outline: 0;
 }

}
