$grey: #dfe0e6;
$border-grey: #c9cacf;
$text-grey: #a5a5a5;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seajade: rgb(35, 188, 158);
$seafoam: #cae8e2;
$private-red: #8A0116;
$fun: #4c5fce;
$sky: #8CC6DB;
$dustylilac: #928EA0;

/* Pop Color */
$pop-color: $fun;

/* Calendar Event Colors */
$negative-event: $pop-color;
$positive-event: $sky;
$neutral-event: $dustylilac;

/* Icon Color for Activity Detail, Note, Entry Cards */
$detail-icon-color: $seajade;


main.registration {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .welcome {
    font-size: 18px;
    margin: 40px 0;
    @media (min-width: 600px) {
      font-size: 24px;
    }
  }
  .register-container {
    width: 100%;
    max-width: 300px;
    border: .25px solid $seagreenM;
    margin-bottom: 20px;
    @media (min-width: 400px) {
      max-width: 400px;
    }
    @media (min-width: 600px) {
      width: 90%;
    }

  }

    label#birth_date {
      margin-top: 10px;
    }

  .date-field {
    text-align: center;
    align-self: center;
    margin-bottom: 15px;
      select {
          font-size: inherit;
          outline: none;
      }
  }
  .register-client,
  .register-therapist {

    min-height: 150px;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $seafoam;
    cursor: pointer;

    @media (min-width: 450px) {
      height: 200px;
    }

    &:hover,
    &.active {
      background: $seagreen;
      h3 {
        color: #fff;
      }
    }
    h3 {
      font-size: 24px;
      cursor: pointer;
      width: auto;
    }
  }
  .register-therapist {
    border-right: .25px solid $seagreenM;
  }
  .new-therapist,
  .new-client {
    width: 100%;
    background: $seafoam;
    display: none;
    padding: 1.5em 1em 1em 1em;

    @media (min-width: 600px) {
      padding: 2em;
    }
    &.active {
      display: flex;
      flex-direction: column;
      }

    label {
      font-size: 1.2em;
      margin-bottom: 5px;
    }
    input {
      font-family: inherit;
      font-size: 1.2em;
      border: 1px solid $seagreen;
      border-radius: 2px;
      text-align: center;
      margin-bottom: 15px;
      padding: 10px;
      width: 100%;
      transition: all .2s ease;

      &:hover, &:focus {
        border-color: $seagreenM;
        outline: 0;
      }

  }
    .field_with_errors {

        margin-bottom: 5px;

      input {
        border-color: $pop-color;
      }

    }
    input.submit_registration {
      font-family: inherit;
      font-size: 1.2em;
      color: #fff;
      border: 0;
      border-radius: 2px;
      text-align: center;
      margin: 15px 0;
      padding: 10px;
      width: 100%;
      background-color: $seagreenM;
      cursor: pointer;
      font-weight: 900;
      &:hover {
        color: #fff;
        background-color: $seajade;
      }
    }

      #client_therapist_id {
        width: 100%;
        font-size: inherit;
        min-height: 25px;
        margin-bottom: 15px;
        &:focus {
          outline: none;
        }
      }
      #user_email {
        width: 100%;
        margin-bottom: 4%;
        &:focus {
          outline-color: #000;
        }
      }
}
}
