
$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: #7ad4c2;
$seagreenMT: rgba(35, 188, 158, 0.4);
$black: #000;
$dark: #333333;
$dark: #333333;
$seafoam: #cae8e2;
$grey: #dfe0e6;
$fun: #4c5fce;
$jade: #7cdfcb;
$medium-jade: #4AD3B8;
$deep-jade: #30C5A7;

$jadeTb: rgba(124, 223, 203, 0.7);
$medium-jadeTb: rgba(74, 211, 184, 0.7);
$deep-jadeTb: rgba(48, 197, 167, 0.7);


main.registration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .register-container {
    display: flex;
    margin: 60px auto;

  }

    label#birth_date {
      margin-top: 10px;
    }

  .date-field {
    width: 80%;
    text-align: center;
    align-self: center;
    margin-bottom: 10px;
  }
  .register-client,
  .register-therapist {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $seafoam;
    cursor: pointer;

    &:hover,
    &.active {
      background: $seagreen;
      h3 {
        color: #fff;
      }
    }
    h3 {
      font-size: 24px;
      cursor: pointer;
      width: auto;
    }
  }
  .register-therapist {
    border-right: .25px solid $seagreenM;
  }
  .new-therapist,
  .new-client {
    width: 75vw;
    max-width: 645px;
    background: $seafoam;
    display: none;
    padding: 4%;
    &.active {
      display: flex;
      flex-direction: column;
      }
    input,
    label {
      align-self: center;
      width: 50%;
      @media (max-width: 800px){
        width: 80%;
      }
    }
    input {
      line-height: 25px;
      &:focus {
        outline-color: #000;
      }
    }
  }
    .field_with_errors {
      width: 50%;
      align-self: center;
      #user_password {
        width: 100%;
        margin: 1% 0 7%;

      }
      @media (max-width: 800px){
        width: 80%;
      }
    }
    input.submit_registration {
      width: 225px;
      font-size: 20px;
      margin: 5% 0;
       font-family: inherit;
       font-size: 1.1em;
       color: #000;
       border: 0;
       border-radius: 2px;
       text-align: center;
       padding: 10px;
       height: 44px;
       background-color: $seagreen;
       cursor: pointer;
       &:hover {
         color: #fff;
         background-color: tint($seagreenM, 10%);
       }
       &:focus {
         outline: 0;
       }
       @media (max-width: 800px){
         width: 180px;
         font-size: 17px;
       }
      }
      #client_therapist_id {
        width: 50%;
        height: 25px;
        align-self: center;
        &:focus {
          outline-color: #000;
        }
        @media (max-width: 800px){
          width: 80%;
        }
      }
      #user_email {
        width: 100%;
        margin-bottom: 4%;
        &:focus {
          outline-color: #000;
        }
      }
}
