$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: #7ad4c2;
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #000;
$dark: #333333;
$seafoam: #cae8e2;
$grey: #dfe0e6;
$border-grey: #c9cacf;
$fun: #4c5fce;

main.survey {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.welcome {
    margin-bottom: 35px;
  }
}

.survey-intro {
  text-align: center;
  line-height: 20px;
}
#new_survey {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#next-question,
#last-question {
  background: $seagreen;
  padding: 5px;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
    background: $seagreenM;
    color: #fff;
  }

}


.survey-questions {
  div.question{
    background: $grey;
    transition: all 1s ease;
    font-size: 18px;
    opacity: 0;
    overflow-wrap: break-word;
    width: 90%;
    position: relative;
    &#q8 span {
      font-size: 18px;
    }
    &#q8 .choices {
      margin: 0 5px;
    }

    .choices {
      background: #fff;
      padding: 5px;
      margin: 5px;
      border: 0.25px solid $border-grey;
    }

    span {
      font-size: 20px;
      line-height: 36px;
      padding-left: 10px;
      display: inherit;
    }
    input {
      margin: 10px 0 0;
      &:hover {
        cursor: pointer;
      }
      &:checked {
         + label {
          color: $seagreenM;
        }
        &::before {
          content: " ";
          height: 14px;
          width: 13px;
          position: absolute;
          border-radius: 50%;
          background: $seagreenM;
        }
      }
      &::before {
        content: " ";
        background: $grey;
        height: 14px;
        width: 13px;
        position: absolute;
        border-radius: 50%;
      }
    }
  }
}
.survey-nav-btns {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  padding: 10px;
  position: relative;
  top: 30px;
  justify-content: space-between;
  & input[name=commit] {
    position: relative;
    top: 0px;
    margin: 0px;
  }
  div {
    &:hover {
      color: $fun;

    }
  }
}

  #next-question,
  #last-question {
    cursor: pointer;

  }

.openQ {
  width: 100%;
  opacity: 1 !important;
  height: auto;
  z-index: 3;
  left: 0;
}
.closeQ {
  width: 100%;
  opacity: 0 !important;
  height: 0px;
  left: -1400px;
}
