
$grey: #dfe0e6;
$border-grey: #c9cacf;
$text-grey: #a5a5a5;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seajade: rgb(35, 188, 158);
$seafoam: #cae8e2;
$private-red: #8A0116;
$fun: #4c5fce;
$sky: #8CC6DB;
$dustylilac: #928EA0;

/* Pop Color */
$pop-color: $fun;

/* Calendar Event Colors */
$negative-event: $pop-color;
$positive-event: $sky;
$neutral-event: $dustylilac;

/* Icon Color for Activity Detail, Note, Entry Cards */
$detail-icon-color: $seajade;




 .legend {
   width: 100%;
   margin-bottom: 1em;
   padding: 10px 0;


   ul {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }

    li {
      display: flex;
      align-items: center;
      margin-left: 20px;

       .color-key {
         border-radius: 3px;
         width: 1em;
         height: 1em;
         margin-right: 5px;
       }

      &.positive {
        .color-key {
          background-color: $positive-event;
        }
      }

      &.negative {
        .color-key {
          background-color: $negative-event;
        }
      }

      &.neutral {
        .color-key {
          background-color: $neutral-event;
        }
      }

    }

 }
