$grey: #dfe0e6;
$border-grey: #c9cacf;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seafoam: #cae8e2;
$fun: #4c5fce;
$periwinkle: #5EAAED;
$dustymauve: #A49097;

$negative-event: $fun;
$positive-event: $periwinkle;
$neutral-event: $dustymauve;

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(#2c2c2c,0.6);

    @media (min-width: 700px) {

      &.t-dashboard-active {
        padding-left: 20%;
      }
    }
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent;
}

.event-detail-card {
   z-index: 6;
   width: 80%;
   border: 1px solid $border-grey;



     .event-title-row {
       position: relative;
       width: 100%;
       height: 40px;
       display: flex;
       align-items: center;
       background-color: $grey;
       font-size: 1.2em;

       }


       .event-title-label {
         float: left;
         padding:  5px;
         text-align: right;
              i {
                margin-right: 10px;
                color: $seagreenM;
              }
       }

       .x-btn {
         position: absolute;
         right: 3px;
         top: 3px;
         color: #000;
         cursor: pointer;
            &:hover {
              color: #fff;
            }
       }


       .event-type-sub-header {
         background-color: $seagreen;
         color: #fff;
         padding: 5px;
            h3 {
              margin-left: 10px;
            }
         &.positive {
           background-color: $positive-event;
         }
         &.negative {
           background-color: $negative-event;
         }
         &.neutral {
           background-color: $neutral-event;
         }
       }


       .event-description-content {
         width: 100%;
         border: 1px solid $border-grey;
         font-size: 1em;
         padding: 10px;
         background-color: #fff;
       }

       .event-footer {
         width: 100%;
         padding-top: 5px;
         display: flex;
         justify-content: flex-end;

       }
 }


 .legend {
   width: 100%;
   margin-bottom: 1em;
   padding: 10px 0;
  //  background-color: $grey;
  //  border: 1px solid $border-grey;

   ul {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }

    li {
      display: flex;
      align-items: center;
      margin-left: 20px;

       .color-key {
         border-radius: 3px;
         width: 1em;
         height: 1em;
         margin-right: 5px;
       }

      &.positive {
        .color-key {
          background-color: $positive-event;
        }
      }

      &.negative {
        .color-key {
          background-color: $negative-event;
        }
      }

      &.neutral {
        .color-key {
          background-color: $neutral-event;
        }
      }

    }

 }
