$grey: #dfe0e6;
$border-grey: #c9cacf;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seafoam: #cae8e2;
$fun: #4c5fce;
$periwinkle: #5EAAED;
$dustymauve: #A49097;

$negative-event: $fun;
$positive-event: $periwinkle;
$neutral-event: $dustymauve;




 .legend {
   width: 100%;
   margin-bottom: 1em;
   padding: 10px 0;
  //  background-color: $grey;
  //  border: 1px solid $border-grey;

   ul {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }

    li {
      display: flex;
      align-items: center;
      margin-left: 20px;

       .color-key {
         border-radius: 3px;
         width: 1em;
         height: 1em;
         margin-right: 5px;
       }

      &.positive {
        .color-key {
          background-color: $positive-event;
        }
      }

      &.negative {
        .color-key {
          background-color: $negative-event;
        }
      }

      &.neutral {
        .color-key {
          background-color: $neutral-event;
        }
      }

    }

 }
