
$seagreen: #99ded0;
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: #7ad4c2;
$seagreenMT: rgba(35, 188, 158, 0.4);
$black: #000;
$seafoam: #cae8e2;
$grey: #dfe0e6;
$fun: #4c5fce;
$pop-color: $fun;
$border-grey: #c9cacf;
$seajade: rgb(35, 188, 158);

.clients-header {
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  p {
    font-size: 15px;
    font-style: italic;
  }
}

.t-index {
  background: $grey;
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  @media (max-width: 470px) {
    width: 97%;
  }
  .sort-background {
    background: $grey;
    width: 100%;
    @media (max-width: 700px) {
      width: 95%;
      }
      h2 {
        padding: 10px 5px 0;
        font-style: italic;
        font-size: 16px;
        color: #000;
      }
      a#patient_card_header,
      a.patient-link {
        div {
          p,
          i {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;
            &.pt_wellness {
              justify-content: center;
            }
            @media(max-width: 700px) {
              font-size: 16px;
            }
          }
          i {
            justify-content: flex-end;
            width: 10%;
            color: $seajade;
            @media(max-width: 470px) {
              width: 15%;
            }
          }
          p {
            width: calc(90%/3);
            @media(max-width: 470px) {
              width: calc(85%/3);
            }
          }
        }
      }
    }
  .sort {
    display: flex;
    background: $grey;
    line-height: 44px;
    margin: 5px;

    a {
      width: 50%;
      text-align: center;
      font-size: 20px;
      background: $seafoam;
      border: 0.25px solid $seagreenM;
      cursor: pointer;
      @media (max-width: 470px) {
        font-size: 16px;
        line-height: 22px;
      }
      &:hover {
        background: $seagreenM;
        color: #fff;
      }
      &.actives {
        background: $seagreenM;
        color: #fff;
      }
    }
  }
}
.sort_name {
  text-align: right;
}
#patient_card_header {
  div {
    background: $border-grey;
    color: #000;
    font-size: 18px;
    margin-top: 30px;
    }
  & div:hover {
    color: #000;
    background: $border-grey;
  }
}
a {
  width: 95%;
  .patient_card {
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    background: #fff;
    margin: 5px;
    padding: 5px;
    &:hover {
      color: #fff;
      background: $seagreenM;
    }

    p {
      text-align: left;
      font-size: 20px;
      width: 34%;
      text-align: left;
        @media (max-width: 470px) {
          font-size: 16px;
          line-height: 22px;
        }

      &.pt_wellness {
        width: 15%;
        text-align: right;
      }
    }
    i {
      width: 15%;
      color: $fun;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      &.show {
        opacity: 1;
      }
    }
  }
}
