
$seagreenT: rgba(55, 207, 176, 0.4);
$seagreenTb: rgba(55, 207, 176, 0.7);
$seagreenM: rgb(35, 188, 158);
$seagreenMT: rgba(35, 188, 158, 0.4);
$seagreenD: #0A382F;

.t-index {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  .sort {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 11px 0;
    background: $seagreenMT;
    a {
      width: 50%;
      padding: 5px;
      &.actives{
        background: $seagreenTb;
        color: #fff;
      }
    }
  }
}
.sort_name {
  text-align: right;
}
a {
  width: 95%;
  .patient_card{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background: $seagreenT;
    &:hover {
      color: #fff;
      background: $seagreenTb;
    }
    p {
      font-size: 1em;
      @media (min-width: 570px) {
        font-size: 1.2em;
      }
    }
    i {
      color: #fff;
      text-shadow: 1px 1px 1px $seagreenD;
      opacity: 0;
      &.show {
        opacity: 1;
      }
    }
  }
}
