
$grey: #dfe0e6;
$border-grey: #c9cacf;
$text-grey: #a5a5a5;
$seagreen: #99ded0;
$seagreenM: #7ad4c2;
$seajade: rgb(35, 188, 158);
$seafoam: #cae8e2;
$private-red: #8A0116;
$fun: #4c5fce;
$sky: #8CC6DB;
$dustylilac: #928EA0;
$green-dark: rgb(54, 144, 126);
$purple-dark: #8641b7;

/* Pop Color */
$pop-color: $fun;

/* Calendar Event Colors */
$negative-event: $pop-color;
$positive-event: $sky;
$neutral-event: $dustylilac;

/* Icon Color for Activity Detail, Note, Entry Cards */
$detail-icon-color: $seajade;

    .tabbed-views-wrapper {
        width: 100%;
        max-width: 780px;
        margin: 0 auto;
        .welcome {
          margin-bottom: 15px;
          font-size: 24px;
        }
    }

    .tabs {
        overflow: hidden;
        display: block;

          .tab-a, .tab-b {
              float: left;
              width: 50%;

              #tab-a-btn, #tab-b-btn {
                  &:hover, &:active {
                    color: #fff;
                    background: $seagreen;

                  }
                }

              &.active {
                    #tab-a-btn, #tab-b-btn {
                      color: #fff;
                      background: $seagreen;

                }
              }

            }

      }

      #tab-a-btn, #tab-b-btn {
        width: 100%;
        padding: 15px 0;
        background-color: $seafoam;
        border: 0.25px solid $seagreenM;
        outline: #000;
        font-size: 20px;
        font-family: inherit;
        cursor: pointer;
        color: #000;
      }

    .tabs-content {
      padding: 15px 0;
    }

#tab-a-content, #tab-b-content {
        display: none;
        &.active {
            display: block !important;
        }

    }


    .view-notes-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }


    .note-form-container {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 15px 0;

      border: 1px solid $border-grey;



        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-left: 10px solid $grey;
          border-right: 10px solid $grey;
        }

        .add-note-button {
          background-color: $seagreen;
          outline: 0;
          border: 0;
          border-radius: 2px;
          padding: 10px 20px;
          font-family: inherit;
          font-size: 1.2em;
          float: right;
          margin-left: 10px;
          cursor: pointer;
          color: #fff;

            &:hover, &:active {
              background-color: $seagreenM;

            }
        }

        select {
          margin: 0 10px;
        }



        .note-form-row {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        background-color: $grey;
        }

        .note-form-footer {
          width: 100%;
          padding: 5px 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          background-color: $grey;

            .togglePrivacy {
              margin-bottom: 0;
            }
            .button {
              margin: 5px 0;
              margin-left: 20px;
            }

        }

        .note-title-label,
        .note-text-label {
          // float: left;
          // font-size: 1.2em;
          // padding:  5px;
          // text-align: right;
          font-size: 18px;
          line-height: 29px;
          margin: 10px 5px;
          color: #000;
          font-weight: 200;
          width: 50px;
          &.view-note {
            font-size: 1em;
          }
        }


        .note-title-input {
          width: 100%;
          // outline: 0;
          border-style: none;
          font-family: inherit;
          font-style: italic;
          font-size: 1.1em;
          text-decoration: underline;
          padding: 5px 10px;
          border: 0.25px solid $border-grey;
          // background-color: transparent;
          background: #fff;
          &:focus {
            outline-color: $fun;
            background: $seafoam;
          }
        }


        .note-text-area {
          width: 100%;
          border: 1px solid $border-grey;
          // outline: 0;
          font-size: 1em;
          padding: 10px;
          background-color: #fff;
            &:focus {
              outline-color: $fun;
              background: $seafoam;
            }
        }

    }
