
$jade: #7cdfcb;
$medium-jade: #4AD3B8;
$seagreen: #37CFB0;
$deep-jade: #30C5A7;


$jadeTb: rgba(124, 223, 203, 0.7);
$medium-jadeTb: rgba(74, 211, 184, 0.7);
$seagreenTb: rgba(55, 207, 176, 0.7);
$deep-jadeTb: rgba(48, 197, 167, 0.7);


@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}


.t-view-content {
  font-family: 'Quicksand', sans-serif;

  width: 80%;
  min-height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  transition: all .5s ease-in-out;

      &.scrunch {
        padding-top: 98px;
      }

      &.t-dashboard-active {
        width: 100%;
      }
}

.t-view-main {
  padding-left: 20px;
  padding-top: 40px;
}

.t-view-header {

  display: flex;
  position: fixed;
  width: 80%;
  height: 50px;
  padding-bottom: 10px;
  background: tint($jade, 20%);
  align-items: flex-end;
  justify-content: center;

    &.t-dashboard-active {
      width: 100%;
    }


    i.t-view-dashboard-icon {
      position: absolute;
      left: 5px;
      &.t-dashboard-active {
        transform: rotate(180deg);
      }
    }



}



.t-view-dashboard {

  font-family: 'Quicksand', sans-serif;

  width: 20%;
  height: 100%;
  display: flex;
  position: fixed;
  padding-top: 50px;
  transition: all .5s ease-in-out;

      &.scrunch {
        padding-top: 98px;
      }

      &.t-dashboard-active {
        width: 0;
        div.t-dashboard-opt h3 {
          color: transparent;
        }

      }
}


.t-dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;


  div.t-dashboard-opt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        h3 {
          color: #000;
          font-size: 1.2em;
          transition: all .3s ease-in-out;
        }

      &:hover {
        h3 {
      color: #fff;
      font-size: 1.3em;
        }
      }
  }

  div.t-dashboard-opt:nth-child(1) {
    background-color: $jadeTb;
      &:hover {
      background-color: $jade;
      }
  }

  div.t-dashboard-opt:nth-child(2) {
    background-color: $medium-jadeTb;
    &:hover {
    background-color: $medium-jade;
    }
  }

  div.t-dashboard-opt:nth-child(3) {
    background-color: $seagreenTb;
    &:hover {
    background-color: $seagreen;
    }
  }

  div.t-dashboard-opt:nth-child(4) {
    background-color: $deep-jadeTb;
    &:hover {
    background-color: $deep-jade;
    }
  }

}
