
$jade: #7cdfcb;
$medium-jade: #4AD3B8;
$seagreen: #37CFB0;
$deep-jade: #30C5A7;


$jadeTb: rgba(124, 223, 203, 0.7);
$medium-jadeTb: rgba(74, 211, 184, 0.7);
$seagreenTb: rgba(55, 207, 176, 0.7);
$deep-jadeTb: rgba(48, 197, 167, 0.7);


@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}


// ****** THERAPIST VIEW DASHBOARD PARTIAL STYLING - APPLIES ACROSS MANY PAGES ***** //

.t-view-dashboard {
  z-index: 2;
  font-family: 'Quicksand', sans-serif;
  transition: all .5s ease-in-out;
  visibility: hidden;
  position: fixed;
  padding-top: 100px;
  width: 100%;
  height: 0;
  overflow: hidden;
  cursor: default;

  &.t-dashboard-active {
    visibility: visible;
    height: 100%;
  }



  @media (min-width: 700px) {
        width: 0;
        height: 100%;
        padding-top: 50px;
        overflow: visible;


            &.scrunch {
              padding-top: 98px;
            }

            &.t-dashboard-active {
              width: 20%;
                div.t-dashboard-opt h3 {
                  color: #000;

                }
                div.t-dashboard-opt:hover h3 {
                  color: #fff;
                }
            }

  }

}


.t-dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
      flex-wrap: wrap;
  }

}

div.t-dashboard-opt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: 1em;

      h3 {
        transition: color .3s linear;
      }

      &:hover {
          h3 {
        color: #fff;
        transition: none;
          }
        }

      @media (min-width: 700px) {

         h3 {
           color: transparent;
           font-size: 1.1em;
         }
      }

}



div.t-dashboard-opt:nth-child(1) {
  background-color: $jade;
  // background-color: $jadeTb;
  border-top: .25px solid shade($jade, 10%);
    &:hover {
    background-color: $jade;
    }
}

div.t-dashboard-opt:nth-child(2) {
  background-color: $medium-jade;
  // background-color: $medium-jadeTb;
  border-top: .25px solid shade($medium-jade, 10%);
  &:hover {
  background-color: $medium-jade;
  }
}

div.t-dashboard-opt:nth-child(3) {
  background-color: $seagreen;
  // background-color: $seagreenTb;
  border-top: .25px solid shade($seagreen, 10%);
  &:hover {
  background-color: $seagreen;
  }
}

div.t-dashboard-opt:nth-child(4) {
  background-color: $deep-jade;
  // background-color: $deep-jadeTb;
  border-top: .25px solid shade($deep-jade, 10%);
  &:hover {
  background-color: $deep-jade;
  }
}


// ****** THERAPIST VIEW CONTENT PARTIAL STYLING - APPLIES ACROSS MANY PAGES ***** //

.t-view-content {
  font-family: 'Quicksand', sans-serif;

  width: 100%;
  min-height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  transition: all .5s ease-in-out;


    @media (min-width: 700px) {

      &.scrunch {
        padding-top: 98px;
      }

      &.t-dashboard-active {
        width: 80%;
      }
    }
}


// ****** THERAPIST VIEW MAIN STYLING - APPLIES ACROSS MANY PAGES ***** //
// ****** VARIOUS PAGE VIEW CONTENT LIVES WITHIN THIS DIV ***** //

.t-view-main {
  padding: 70px 20px 20px 20px;
}



// ****** THERAPIST VIEW HEADER PARTIAL STYLING - APPLIES ACROSS MANY PAGES ***** //

.t-view-header {
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  background: tint($jade, 20%);
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
  cursor: default;

    @media (min-width: 700px) {

        &.t-dashboard-active {
          width: 80%;
        }
    }

    i.t-view-dashboard-icon {
      position: absolute;
      padding: 5px;
      left: 0;


          &.t-dashboard-active {
            transform: rotate(180deg);
          }

        @media (min-width: 700px) {

        transform: rotate(-90deg);

          &.t-dashboard-active {
            transform: rotate(-270deg);
          }
        }
    }

}

.t-view-header h3 {
  font-size: 1.3em;
}
