<article class="entry-view disappear" id="add-entry">

  <form id="new-entry">

    <h2>Type a Journal Entry</h2>

    <fieldset id="title">
      <label for="title">Title:</label>
      <input id="title" name="title"/>
    </fieldset>

    <fieldset id="text">
      <label for="entry-text">Entry:</label>
      <textarea id="entry-text" name="entry-text"></textarea>
    </fieldset>

      <section>
        <div class="privacy">
          <div class="togglePrivacy">
            <%= check_box 'togglePrivacy', '0', id:"togglePrivacy", class: 'togglePrivacy'%>
            <label class="togglePrivacy-label" for="togglePrivacy"><span></span></label>
          </div>
        </div>
        <input type="submit" class="button" value="Submit Entry"/>
      </section>

  </form>

</article>
