<% @entries.each do |e| %>
  <section class="entry-card">
    <div class="entry-text-container">

      <div class="entry-header">
        <h2 class="title"><i class="fa fa-pencil"></i><%= e.title %></h2>
        <!-- if private.... -->
        <% if e.sharable == false %>
        <div class="private entry-status selected">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
          <span class="status">private</span>
        </div>
        <!-- if shared... -->
        <% elsif e.sharable == true %>
        <div class="shared entry-status selected">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <span class="status">shared</span>
        </div>
        <% end %>
    </div>

      <div class="entry-text">
        <%= e.body %>
        <div class="entry-timestamp">
          <span class="entry-date">written on <%= e.created_at.to_date.strftime("%B %C") %> at <%= e.created_at.strftime("%I:%M%p") %></span>
        </div>
      </div>
    </div>

  </section>
<% end %>
