<article class="entry-view disappear" id="previous-entries">

  <%= render :partial => "entries/shared/entry_card.html" %>

  <section class="entry-card">
    <div class="entry-text-container">
      <h2 class="title">TITLE</h2>
      <div class="entry-text">
        BODY Lorem ipsum dolor sit amet, eros aliquam nunc pede convallis, purus neque cras sociis vel morbi, pulvinar lectus est, sit elit malesuada fringilla neque adipiscing. Etiam non risus adipiscing curabitur, sem erat. Sapien nunc urna. Orci vel sed id adipiscing mollis dictum. Ultrices porttitor. Pede at lacinia, in pretium eget. Sapien morbi justo suspendisse pulvinar, pretium sit facilisi. Eu feugiat lacus augue, ut nulla tellus orci. Ut volutpat in, wisi justo ante nullam ut nonummy, dignissim dui pellentesque.
    Tortor pulvinar neque, ac augue id, vitae egestas nec sem lorem, vivamus praesent malesuada aenean elit eget dis, feugiat quis nec leo eros ad venenatis. Odio consectetuer tincidunt mi nostra justo magnis, congue dictum feugiat ac ipsum suspendisse vivamus. Et diam, porta potenti dis purus non malesuada. Quam tincidunt nec, amet quibusdam quam ut, vestibulum eget sit. Fermentum tellus dui tellus, animi aliquam aptent id, nisl nunc nec aenean eu suspendisse lacus, libero ipsum odio vitae in. Sapien fusce sem consequat nunc a.
    Magnis arcu. Adipiscing nec leo urna quam vel, interdum est ante ornare purus in, euismod sed suspendisse. Amet sit maecenas accumsan lectus. Amet ac, placerat lectus ante duis libero luctus, fringilla nec venenatis eget tempus ac libero, tincidunt vivamus. Leo montes sagittis sagittis, at lobortis volutpat lacus egestas sed ac, amet turpis curae, nulla non vitae eu tortor eget eget, suscipit et. Lectus duis cras luctus ridiculus sed justo, quisque nisl pellentesque consectetuer praesent. Leo montes accumsan ipsum, aliquam sem eum, nulla a quis et, libero ante erat quam arcu ut hymenaeos. Tempor quis, eleifend ut arcu malesuada ac, volutpat habitasse vitae augue purus, in lacus, aliquam ligula lobortis malesuada feugiat neque blandit. Mauris tellus, urna risus. Nec habitasse, porttitor dictum orci parturient, mi dui aliquam lorem imperdiet. Erat tristique rutrum arcu scelerisque. Vestibulum maecenas, ratione iaculis libero, rhoncus nibh, fringilla turpis varius vel wisi vivamus, consequat scelerisque rhoncus morbi et.
    Nisl amet. Donec etiam et pulvinar mollis neque, dis sed molestie eos fames eget commodo. In platea vehicula ut delectus laoreet, etiam sem vestibulum, suscipit natoque libero id fringilla eget augue, velit sed risus eget eros purus, laudantium elementum ipsum. Mi ac, mauris ac hendrerit eros nisl integer rutrum, pretium ut nibh eleifend suscipit suscipit, lorem sociosqu nibh aut. Nisl nec, congue leo mi consectetuer ullamcorper auctor, lobortis et in tortor a, nonummy dolor donec non. Consequat quisque ac ridiculus tincidunt neque.
      </div>
    </div>
    <div class="entry-timestamp">
      <span class="entry-date">MM/DD/YYYY</span><span class="entry-time">HH:MM</span>
    </div>
  </section>

  <section class="entry-card">
      <div class="entry-text-container">
        <h2 class="title">TITLE</h2>

        <div class="entry-text">
        BODY Lorem ipsum dolor sit amet, eros aliquam nunc pede convallis, purus neque cras sociis vel morbi, pulvinar lectus est, sit elit malesuada fringilla neque adipiscing. Etiam non risus adipiscing curabitur, sem erat. Sapien nunc urna. Orci vel sed id adipiscing mollis dictum. Ultrices porttitor. Pede at lacinia, in pretium eget. Sapien morbi justo suspendisse pulvinar, pretium sit facilisi. Eu feugiat lacus augue, ut nulla tellus orci. Ut volutpat in, wisi justo ante nullam ut nonummy, dignissim dui pellentesque.
        </div>
      </div>
      <div class="entry-timestamp">
        <span class="entry-date">M2/D2/YYY2</span><span class="entry-time">H2:M2</span>
      </div>
  </section>

</article>
