



    .tabbed-views-wrapper {
        width: 100%;
    }

    .tabs {
        overflow: hidden;
        display: block;

          .tab-a, .tab-b {
              float: left;
              width: 50%;

              #tab-a-btn, #tab-b-btn {
                  &:hover, &:active {
                    color: #fff;
                  }
                }

              &.active {
                    #tab-a-btn, #tab-b-btn {
                      text-decoration: underline;
                  &:hover, &:active {
                    color: #000;
                  }
                }
              }

            }

      }

      #tab-a-btn, #tab-b-btn {
        width: 100%;
        padding: 15px 0;
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: 1.4em;
        font-family: inherit;
        cursor: pointer;
        color: #000;
      }

    .tabs-content {
      padding: 15px;
      padding-top: 25px;
    }

#tab-a-content, #tab-b-content {
        display: none;
        &.active {
            display: block !important;
        }

    }
