@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

$jade: #7cdfcb;
$tabbed-pages-border-color: shade($jade, 10%);
$deep-jade: #30C5A7;
$medium-jade: #4AD3B8;
$pale-jadeTb: rgba(124, 223, 203, 0.3);
$pale-jadeTb-inactive: rgba(124, 223, 203, 0.6);



    .tabbed-views-wrapper {
        width: 100%;
    }

    .tabs {
        overflow: hidden;
        display: block;

          .tab-a, .tab-b {
              float: left;
              width: 50%;
              border-bottom: 1px solid $tabbed-pages-border-color;
              background-color: $pale-jadeTb-inactive;

              #tab-a-btn, #tab-b-btn {
                  &:hover, &:active {
                    color: #fff;
                  }
                }

              &.active {
                  background-color: $pale-jadeTb;
                  border-right: 1px solid $tabbed-pages-border-color;
                  border-top: 1px solid $tabbed-pages-border-color;
                  border-left: 1px solid $tabbed-pages-border-color;
                  border-bottom: none;

                    #tab-a-btn, #tab-b-btn {
                  &:hover, &:active {
                    color: #000;
                  }
                }
              }

            }

      }

      #tab-a-btn, #tab-b-btn {
        width: 100%;
        padding: 15px 0;
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: 1.4em;
        font-family: inherit;
        cursor: pointer;
        color: #000;
      }

    .tabs-content {
      background-color: $pale-jadeTb;
      border-right: 1px solid $tabbed-pages-border-color;
      border-bottom: 1px solid $tabbed-pages-border-color;
      border-left: 1px solid $tabbed-pages-border-color;
      padding: 15px;
      padding-top: 25px;
    }

#tab-a-content, #tab-b-content {
        display: none;
        &.active {
            display: block !important;
        }

    }
